<div class="header">
  <h2>$upreme</h2>
</div>
<div class="shopping-cart">
    <div class="title">
    <p id="titlecartitems">Your cart has {{qtycount()}} items</p>
    <p id="titletotal">Total: {{calculate() | currency:"GBP"}}</p>
    </div>

    <div class="item" *ngFor="let i of selection" >
      <div class="buttons">
        <span class="btn"></span>
        <span class="like-btn" (click)="like(i)"[class.favorite]="i.favorite"></span>
      </div>
      <div class="image">
        <img [src]="i.image" id="WhiteShirt" alt="" />
      </div>
      <div class="description">
        <span>{{i.description1}}</span>
        <span>{{i.description2}}</span>
        <span>{{i.description3}}</span>
      </div>
      <div class="quantity">
        <button class="plus-btn" type="button" (click)="decreaseQty(i)">
          <img src="assets/images/minus.svg" alt="" />
        </button>
        <input type="number" [(ngModel)]="i.qty">
        <button class="minus-btn" type="button" (click)="increaseQty(i)">
          <img src="assets/images/plus.svg" alt="" />
        </button>
      </div>

      <div class="total-price">{{i.price | currency:"GBP"}}</div>
    </div>
  
<div>
  <footer>
<p>Copyright©</p>
  </footer>
</div>
  
<router-outlet></router-outlet>
