.unlike-btn {
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 17px;
    background: url("assets/images/delete-icn.svg") no-repeat center;
    margin-right: 20px;
  }
  
  .like-btn {
    position: absolute;
    top: 9px;
    left: 5px;
    display: inline-block;
    background: url("assets/images/twitter-heart.png");
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .favorite{
    background-color: red;
    border-radius: 100%;
}




